.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .arrows-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 21rem;
    margin-bottom: 2rem;

    .arrow-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .arrow-button {
        font-size: 2rem;
        color: #333;
        cursor: pointer;
      }
    }

    .page-number-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .page-number {
        color: #555;
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
  }
}
