.sheet-container {
  min-height: 24rem;
  background-color: #fff;
  margin-bottom: 3rem;
  overflow: hidden;
  border-radius: 5px;

  .sheet-description {
    color: #fff;

    display: flex;
    align-items: center;
    padding-left: 2rem;
    background-color: #be0010;
    height: 4rem;
    font-weight: 500;
    font-size: 1.2rem;

    &_activity {
      display: inline-block;
      width: 8rem;
    }

    &_operator {
    }
  }
}
