.sheet-container {
  margin-bottom: 3rem;

  .sheet-description {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    background-color: #be0010;
    height: 4rem;
    font-weight: 600;
    font-size: 1.2rem;

    &_activity {
      display: inline-block;
      width: 8rem;
    }

    &_operator {
    }
  }
}
