.main-screen-container {
  height: 130vh;
  width: 82%;
  background-color: #e6ebef;

  .section-title {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .searchbox-container {
    width: 95%;
    margin: 0 2rem;
  }
}
