.sheet-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  background-color: #fff;
  font-weight: 600;
  font-size: 1.1rem;

  &_operator {
    display: inline-block;
    width: 8rem;
  }
}
