.main-nav {
  height: 8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4rem;

  .admin-container {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;

    span {
      align-self: flex-end;
    }
  }
}
