.side-bar-button-container {
  display: flex;

  &.active {
    background-color: #222e3a;
  }

  .active-bar {
    min-width: 0.7rem;

    &.redbar {
      background-color: #be0010;
    }
  }

  .side-bar-button {
    background-color: transparent;
    border: none;
    color: #bbb;
    font-size: 1.2rem;
    padding: 2rem;

    &.active {
      color: #fff;
    }
  }
}
